.textColor {
  color: goldenrod;
}
p {
  color: white;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

.homeText {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: end;
  height: 190vh;
  margin: 2em;

  .text1 {
    font-size: 25px;
    width: 35%;
  }

  .text2 {
    font-size: 25px;
    width: 40%;
  }

  .text3 {
    font-size: 25px;
    width: 60%;
  }

  .text4 {
    font-size: 25px;
    width: 90%;
  }
}
