.otherstar {
  text-decoration: none;
  color: white;
  position: absolute;
  right: 2vw;
  top: 4vh;
  font-size: 1.5rem;
  z-index: 50;
}
.navstar {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  max-width: 99vw;
}

.Aldebaran {
  position: absolute;
  top: 11vh;
  right: 2vw;
  height: 89vh;
}

.Alpha.Canis.Majoris.\(Sirius\) {
  position: absolute;
  top: 23vh;
  right: -3vw;
  height: 67vh;
}

.Rigel {
  position: absolute;
  top: 22vh;
  right: 0vw;
  height: 67vh;
}

.Trou.noir.TON618 {
  position: absolute;
  top: 18vh;
  right: 0vw;
  height: 75vh;
}

.Piliers.de.la.Création {
  position: absolute;
  top: 8vh;
  right: 5vw;
  height: 85vh;
}

.PSR.J0952-0607 {
  position: absolute;
  top: 16vh;
  right: 0vw;
  height: 65vh;
}

.titlestar {
  text-align: center;
}

body {
  color: white;
}

.descriptionstar {
  text-align: center;
  width: 43vw;
  margin-top: 8vh;
  margin-left: 9vw;
}

.infosstar {
  position: absolute;
  top: 36vh;
  right: 1vw;
}

.bodystar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.caracstar {
  text-align: justify;
}

.sectioncarac {
  margin-left: 9vw;
  width: 43vw;
}

.sectiondesc {
  display: flex;
  flex-direction: column;
}

.présentationotherstar {
  width: 50vw;
  text-align: center;
  margin: 0 auto;
  display: flex;
  margin-top: 11vh;
  font-size: 1.4rem;
  line-height: 3.8vh;
}
