@keyframes planete {
  0% {
    transform: translate(0vw, 0vh);
    opacity: 0;
  }

  50% {
    transform: translate(30vw, 0vh);
    opacity: 1;
  }

  100% {
    transform: translate(75vw, 0vh);
    opacity: 0;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-image: url("https://img2.wallspic.com/previews/6/7/2/3/4/143276/143276-espace_exterieur-nuit-voie_lactee-ciel-objet_astronomique-x750.jpg");
}

.welcomeplanet {
  .Soleil {
    position: absolute;
    top: 28vh;
    left: 2vw;
    height: 50vh;
    animation: planete 10s linear;
    z-index: 2;
    opacity: 0;
  }

  .Mercure {
    position: absolute;
    top: 28vh;
    left: 2vw;
    height: 40vh;
    animation: planete 10s linear;
    animation-delay: 9s;
    z-index: 2;
    opacity: 0;
  }

  .Vénus {
    position: absolute;
    top: 28vh;
    left: 2vw;
    height: 40vh;
    animation: planete 10s linear;
    animation-delay: 18s;
    z-index: 2;
    opacity: 0;
  }

  .Terre {
    position: absolute;
    top: 28vh;
    left: 2vw;
    height: 40vh;
    animation: planete 10s linear;
    animation-delay: 27s;
    z-index: 2;
    opacity: 0;
  }

  .Mars {
    position: absolute;
    top: 28vh;
    left: 2vw;
    height: 40vh;
    animation: planete 10s linear;
    animation-delay: 36s;
    z-index: 2;
    opacity: 0;
  }

  .Saturne {
    position: absolute;
    top: 28vh;
    left: 2vw;
    height: 40vh;
    animation: planete 10s linear;
    animation-delay: 45s;
    z-index: 2;
    opacity: 0;
  }

  .Jupiter {
    height: 40vh;
    position: absolute;
    opacity: 0;
    top: 28vh;
    left: 2vw;
    animation: planete 10s linear;
    animation-delay: 54s;
    z-index: 1;
    opacity: 0;
  }

  .Uranus {
    position: absolute;
    top: 28vh;
    left: 2vw;
    height: 40vh;
    animation: planete 10s linear;
    animation-delay: 63s;
    z-index: 2;
    opacity: 0;
  }

  .Neptune {
    position: absolute;
    top: 28vh;
    left: 2vw;
    height: 40vh;
    animation: planete 10s linear;
    animation-delay: 72s;
    z-index: 2;
    opacity: 0;
  }
}

.textwelcome {
  text-align: center;
}
.presentation {
  width: 42vw;
  line-height: 2vw;
  text-align: center;
  font-weight: bold;
  padding: 0.5vw;
  position: absolute;
  top: 5vw;
  z-index: 15;
  background-color: #2b324286;
  border-radius: 20px;
  // box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.349);
}

.welcometitle {
  font-size: 2rem;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  z-index: 17;
  position: absolute;
  top: 83vh;
}

.linkwelcome {
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  z-index: 16;
  top: 91vh;
  font-size: 1.5rem;
  background-color: #efb41b;
  border: solid 0.5em #efb41b;
  border-radius: 20px;
}

@media screen and (max-width: 500px) {
  .presentation {
    width: 96vw;
    line-height: 6vw;
    text-align: center;
    font-weight: bold;
    padding: 0.5vw;
    position: absolute;
    top: 31vw;
  }
  .linkwelcome {
    text-decoration: none;
    color: goldenrod;
    position: absolute;
    z-index: 16;
    top: 93vh;
    font-size: 1.6rem;
    max-width: 114vw;
  }

  .welcometitle {
    font-size: 2rem;
    margin-top: 8vh;
  }
}
