#card {
  display: flex;
  background-color: black;
  position: absolute;
  top: 2.5em;
  left: 3.5em;
  z-index: 10;
  border-radius: 50px;
  .card__body {
    display: flex;
    border: solid 4px white;
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
    height: 70vh;
    width: 90vw;
    justify-content: space-between;
    border-radius: 16px;
    .card__img {
      height: 50%;
      align-self: center;
      margin: 5%;
    }

    .card__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      .card__description__h1 {
        font-size: 5vw;
      }
      .card__description__p {
        font-size: 2em;
        text-align: left;
      }
    }
    .card__button {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .card__button__closed {
        align-self: flex-end;
        width: 25px;
        height: 25px;
        background-color: #828080;
        color: white;
        border-radius: 5px;
        margin: 10px;
      }

      .card__button__moreInfos {
        margin: 10px;
        color: white;
        background-color: rgb(243, 166, 12);
        border-radius: 5px;
        width: 3vw;
        height: 3vw;
        font-size: 2.5vw;
      }

      .card__button__moreInfos:hover {
        background-color: rgb(254, 128, 29);
      }
    }
  }
}
