#card {
  display: flex;
  justify-content: center;
  background-color: black;
  opacity: 0.7;
  .card__body {
    display: flex;
    border: solid 4px white;
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
    height: 80vh;
    width: 90vw;
    justify-content: center;
    border-radius: 16px;
    .card__img {
      height: 80%;
      align-self: center;
      margin: 10%;
    }
    .card__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      .card__description__h1 {
        font-size: 5vw;
      }
      .card__description__p {
        font-size: 2em;
        text-align: left;
      }
    }
    .card__button {
      display: flex;
      align-self: end;
      margin: 10px;
      color: white;
      background-color: rgb(243, 166, 12);
      border-radius: 10px;
      width: 7vw;
      height: 3vw;
      font-size: 1vw;
    }
  }
}
